{% extends 'base.html.twig' %}

{% block title %}All Posts!{% endblock %}

{% block body %}
<div>
    {% if posts|length > 0 %}
    {% for post in posts%}
        {#<div> <i>{{ message['message']}}</i> </div>#}
        <div>
            {#<a href="/messages/{{key}}"> <i>{{ message.message}}</i></a> This is not a good practice#}
            <a href="{{ path('app_micro_post_show', {post: post.id}) }}"> 
                <i>{{ post.title }}</i>
            </a> 
        </div>
    {% endfor %}
    {% else %}
        There is nothing here yet!
    {% endif %}
</div> 
{% endblock %}
